body {
    div {
        &.top {
            text-align: center;
        }
        &.main {
            width: 80%;
            margin:0 auto;
        }
        &.row
        {
            display: table;
            table-layout: fixed; /*Optional*/
            border-spacing: 10px; /*Optional*/
        }
        &.column
        {
            display: table-cell;
        }
        padding: 10px;
    }
    .center {
        margin: auto;
        text-align: center;
    }
    footer {
        text-align: center;
        font-size: 12pt;
    }

}